name: Build WebRTC (Windows)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    env:
      DEPOT_TOOLS_WIN_TOOLCHAIN: 0

    steps:
    - uses: actions/checkout@v4

    - name: Clone depot_tools
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
        echo "$PWD\depot_tools" >> $env:GITHUB_PATH

    - name: Fetch WebRTC
      shell: cmd
      run: |
        mkdir webrtc
        cd webrtc
        fetch webrtc
        cd src
        gclient sync
        gclient runhooks

    - name: Generate LASTCHANGE (fix CI issue)
      shell: cmd
      run: |
        cd webrtc\src
        python build\util\lastchange.py -o build\util\LASTCHANGE
        python build\util\lastchange.py -o build\util\LASTCHANGE.committime --committime

    - name: Build WebRTC
      shell: cmd
      run: |
        cd webrtc\src
        gn gen out\Release --args="is_debug=false rtc_include_tests=false is_component_build=false"
        ninja -C out\Release -j2
